<!DOCTYPE html>
<html>
  <head>
    <title>Snip | A Hair Salon For Bald People</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
